// npm install --save mongodb
const { MongoClient, ObjectId } = require('mongodb');

async function _doWork(){
  try {
    const database = '{{{database}}}';

    const client = new MongoClient('{{{connectionString}}}');
    await client.connect();
    const db = await client.db(database);
    const res = await {{{sql}}};

    const items = [].concat(res);
    for(const item of items){
      console.log(item);
    }
  } catch(err){
    console.log('Failed to connect', err);
  }
}

_doWork();