import com.datastax.oss.driver.api.core.CqlSession;
import com.datastax.oss.driver.api.core.cql.ResultSet;
import com.datastax.oss.driver.api.core.cql.Row;
import java.net.InetSocketAddress;

public class Main {
    public static void main(String[] args) {
        try (CqlSession session = CqlSession.builder()
                .addContactPoint(new InetSocketAddress("{{{host}}}", {{{port}}}))
                {{{authCredentialsLine}}}
                .withLocalDatacenter("datacenter1")
                .withKeyspace("{{{keyspace}}}")
                .build()) {

            ResultSet rs = session.execute("{{{escapedSql}}}");
            for (Row row : rs) {
                System.out.println(row.getFormattedContents());
            }
        } catch (Exception e) {
            System.out.println("Failed to connect: " + e.getMessage());
        }
    }
}