# python3 -m venv ./ # setting up virtual environment with
# source bin/activate # activate the venv profile
# pip install cassandra-driver
from cassandra.cluster import Cluster
from ssl import PROTOCOL_TLSv1_2, SSLContext, CERT_NONE
from cassandra.auth import PlainTextAuthProvider

# remove `ssl_context=ssl_context` to disable SSL (applicable for Cassandra in CosmosDB)
ssl_context = SSLContext(PROTOCOL_TLSv1_2)
ssl_context.verify_mode = CERT_NONE
cluster = Cluster(['{{{host}}}'], port={{{port}}}, auth_provider=PlainTextAuthProvider(username='{{{username}}}', password='{{{password}}}'), ssl_context=ssl_context)
session = cluster.connect()

session.execute('USE {{{keyspace}}}')
rows = session.execute("""{{{sql}}}""")
for row in rows:
    print(row)