# python3 -m venv ./ # setting up virtual environment with
# source bin/activate # activate the venv profile
# pip install pymssql
import pymssql

connection = pymssql.connect(
  server='{{{host}}}',
  port={{{port}}},
  user='{{{username}}}',
  password='{{{password}}}',
  database='{{{database}}}',
  as_dict=True
)

try:
  with connection.cursor() as cursor:
    cursor.execute("""{{{sql}}}""")
    rows = cursor.fetchall()
    for row in rows:
      print(row)
finally:
  connection.close()