*.LICENSE.txt
*.rej
*storybook.log
.DS_Store
.cache
.claude
.env
.npmrc
.nyc_output
.prettier-cache
.vs-code
DEBUG
Error
build
coverage
dist
node_modules
npm-debug.log*
public/vs
upload
yarn-debug.log*
yarn-error.log*

###

*.db
*.sqlite
.env.development.local
.env.local
.env.production.local
.env.test.local
.parcel-cache
.pnp
.pnp.js
/node_modules
appx
asset-manifest.json
assets
boxart.png
connections-mocked-server.json
data
favicon.ico
index.html
logo256.icns
logo256.png
logo32.png
logo512.png
main.js
manifest.json
mocked-server.js
preload.js
robots.txt
src/package.json
static
vs
