# dependencies
# misc
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# testing
*.db
*.LICENSE.txt
*.rej
*.sqlite
*storybook.log
.cache
.claude
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.npmrc
.nyc_output
.parcel-cache
.pnp
.pnp.js
.prettier-cache
.vs-code
/node_modules
appx
asset-manifest.json
assets
boxart.png
build
connections-mocked-server.json
coverage
data
DEBUG
dist
Error
favicon.ico
index.html
logo256.icns
logo256.png
logo32.png
logo512.png
main.js
manifest.json
mocked-server.js
node_modules
npm-debug.log*
preload.js
public/vs
robots.txt
src/package.json
static
upload
vs
yarn-debug.log*
yarn-error.log*
yarn.lock
