*.LICENSE.txt
*.rej
*storybook.log
.DS_Store
.cache
.claude
.env
.npmrc
.nyc_output
.prettier-cache
.vs-code
DEBUG
Error
build
coverage
dist
node_modules
npm-debug.log*
public/vs
upload
yarn-debug.log*
yarn-error.log*
