html {
  font-family: Helvetica, Tahoma, Geneva, sans-serif;
  font-size: 12px;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
  padding: 0;
  margin: 0;
}

// scrollbar styles
::-webkit-scrollbar {
  width: 8px;

  &-track {
    background: #f0f0f0;
  }

  &-thumb {
    background: #aaa;
    &:hover {
      background: #666;
    }
  }
}


[data-popper-placement]{
  z-index: 1;
}
