html {
  font-family: Helvetica, Tahoma, Geneva, sans-serif;
  font-size: 12px;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

button,
textarea,
input,
select {
  padding: 5px 10px;
  background: white;
  border: 1px solid black;
  font-size: 1rem;
  font-weight: bold;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  &:hover {
  background: #efefef;
}

&:disabled {
  background: black;
  color: white;
}

}

table {
  border-collapse: collapse;

  tr{
    th{
      padding: 10px 10px;
      border: 1px solid black;
      border-right: none;
      background: #efefef;
    }
    td{
      padding: 5px 10px;
      border: 1px solid black;
      border-right: none;
    }

    td,th{
      &:last-child {
        border-right: 1px solid black;
      }
    }

    &:hover{
      background: #efefef;
    }
  }

}



a {
  cursor: pointer;
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

pre {
  margin: 0;
  background: #efefef;
  border: 1px solid black;
}
