@import 'base';

.App {
  min-height: 100vh;

  &__Section {
    margin-top: 10px;
  }
}

.LayoutTwoColumns {
  display: flex;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;

  &__LeftPane {
    height: 100%;
    overflow-y: auto;
  }

  &__RightPane {
    margin-left: 0.5rem;
    height: 100%;
    overflow-y: auto;
  }
}

// components
$ConnectionTreeIndentSize: 7px;

.ConnectionDescription {
}

.DatabaseDescription {
  margin-left: $ConnectionTreeIndentSize * 1;
}

.TableDescription,
.TableActions {
  margin-left: $ConnectionTreeIndentSize * 2;
}

.ColumnDescription {
  margin-left: $ConnectionTreeIndentSize * 3;
}

.ColumnAttributes,
.ShowAllColumnsButton {
  margin-left: $ConnectionTreeIndentSize * 4;
}

.QueryBox {
}

.FormInput__Container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-right: 1rem;
}

.FormInput {
  &__Label {
    padding-block: 8px;
    display: flex;
    align-items: center;
  }
  &__Row {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
}

.ResultBox {
  &__Content {
    width: 100%;
    overflow-x: auto;
  }
}

.Tabs {
  &__Vertical {
    display: flex;

    .Tab__Headers {
      flex-shrink: 0;
    }

    .Tab__Body {
      flex-grow: 1;
      margin-left: 10px;
    }

    .Tab__Header {
      align-self: baseline !important;
    }
  }

  .Tab {
    &__Header {
      display: inline-flex;
      align-items: center;

      *:last-child {
        margin-left: 10px;
      }
    }
    &__Body {
      padding-block: 15px;
    }
  }
}

.DropdownButton {
  &__Popper {
    padding: 10px 15px;
    align-items: center;
    display: flex;

    > span {
      margin-right: 10px;
    }
  }
}

.CodeEditorBox {
  position: relative;

  .CodeEditorBox__Commands {
    display: none;
    justify-content: end;
    gap: 1rem;
  }

  &:hover {
    .CodeEditorBox__Commands {
      display: flex;
    }
  }
}

.Resizer {
  &--Horizontal {
    cursor: 'col-resize';
    &:hover {
      background: #ccc;
    }
  }
}

.RawHtmlRender{
  > *{
    &:first-child{
      margin-top: 0;
    }

    &:last-child{
      margin-bottom: 0;
    }
  }
}

// remove transition
@media (prefers-reduced-motion) {
  * {
    transition-duration: 0s !important;
  }
}
