// scrollbar styles
::-webkit-scrollbar {
  width: 6px;

  &-track {
    background: #f0f0f0;
  }

  &-thumb {
    background: #aaa;
    &:hover {
      background: #666;
    }
  }
}

[data-popper-placement] {
  z-index: 1;
}

a {
  cursor: pointer;
}
