<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="icon" href="public/favicon.ico" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">
        <a href="https://synle.github.io/sqlui-native/" style="color: white">{{ page.title | default: site.title | default: site.github.repository_name }} (<span class='appVersion'></span>)</a></h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">GitHub</a>
      {% endif %}
      <a href="https://github.com/synle/sqlui-native/releases/download/{{ site.app_version }}/sqlui-native-{{ site.app_version }}.dmg" class="btn"><i class="fas fa-download" style="margin-right: 5px;"></i> Mac (<b>.dmg</b>)</a>
      <a href="https://github.com/synle/sqlui-native/releases/download/{{ site.app_version }}/sqlui-native-{{ site.app_version }}.exe" class="btn"><i class="fas fa-download" style="margin-right: 5px;"></i> Windows (<b>.exe</b>)</a>
      <a href="https://github.com/synle/sqlui-native/releases/download/{{ site.app_version }}/sqlui-native-{{ site.app_version }}.deb" class="btn"><i class="fas fa-download" style="margin-right: 5px;"></i> Ubuntu / Debian (<b>.deb</b>)</a>
      <a href="https://github.com/synle/sqlui-native/releases/tag/{{ site.app_version }}" class="btn">Other Releases</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is developed and maintained by

            <b>Sy Le</b>
            (
              <a href="https://www.linkedin.com/in/syle1021/">linkedin profile</a>
              <span style="margin-inline: 5px">/</span>
              <a href="https://github.com/synle" >github</a>
            )
          .</span>
        {% endif %}
      </footer>
    </main>
    <script>
      // pull in the version from package.json
      fetch(`https://synle.github.io/sqlui-native/release.json`).then(r => r.json()).then(r => r.version).then(version => {
          for(const item of document.querySelectorAll('.appVersion')){
              item.innerText = version;
          }
      })
    </script>
  </body>
</html>
