@import 'base';

.App {
  padding: 5px 10px;
}

.ConnectionDescription {
  margin-left: 0.3rem;

  &__TitleRow {
    display: flex;
    justify-content: space-around;

    * {
      margin-right: 5px;
    }
  }

  &__Title {
    flex-grow: 1;
  }
}
.DatabaseDescription {
  margin-left: 0.5rem;
}
.TableDescription {
  margin-left: 0.7rem;
}
.ColumnDescription {
  margin-left: 0.9rem;
}

.MainPage {
  display: flex;

  &__LeftPane {
    flex-shrink: 0;
    min-width: 250px;
    max-width: 350px;
  }

  &__RightPane {
    flex-grow: 1;
  }
}

.QueryBox {
  textarea {
    width: 100%;
    height: 250px;
  }
}

.ConnectionForm {
  input[type='text'] {
    width: 100%;
  }
}
