@import 'base';

.App {
  &__Section {
    margin-top: 10px;
  }
}

.LayoutTwoColumns {
  display: flex;
  margin-top: 15px;

  &__LeftPane {
    flex-shrink: 0;
    min-width: 275px;
    max-width: 50%;
  }

  &__RightPane {
    flex-grow: 1;
    overflow: hidden;
    margin-right: 10px;
  }
}

.ConnectionPage {
  margin-inline: 20px;
}

// components
.ConnectionDescription {
  margin-left: 0.3rem;
}

.DatabaseDescription {
  margin-left: 0.5rem;
}

.TableDescription,
.TableActions {
  margin-left: 0.7rem;
}

.ColumnDescription {
  margin-left: 0.9rem;

  &__Type {
    font-family: monospace;
    padding-right: 10px;
    color: #999;
  }
}

.AttributeDescription {
  margin-left: 1.1rem;
  font-family: monospace;
  color: #666;
}

.QueryBox {
  margin-bottom: 15px;

  &__Row {
    margin-top: 15px;
  }
}

.ResultBox {
  &__Content {
    width: 100%;
    overflow-x: auto;
  }
}

.ConnectionForm {
  input[type='text'] {
    width: 100%;
  }

  &__Row {
    margin-top: 15px;
  }
}

.Accordion {
  cursor: pointer;
  display: flex;
  align-items: center;
  min-height: 37px;

  &:hover {
    background: #efefef;
  }

  * {
    margin-right: 5px;
  }

  *:last-child {
    margin-right: 0;
  }

  > span {
    flex-grow: 1;
    font-weight: bold;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.Tabs {
  &__Vertical {
    display: flex;

    .Tab__Headers {
      flex-shrink: 0;
    }

    .Tab__Body {
      flex-grow: 1;
      margin-left: 10px;
    }
  }

  .Tab {
    &__Header {
      display: inline-flex;
      align-items: center;

      *:last-child {
        margin-left: 10px;
      }
    }
  }
}

.Resizer {
  width: 15px;
  &:hover {
    background: #efefef;
    cursor: col-resize;
  }
}

.CodeEditorBox {
  &:hover,
  &:focus {
    border: 2px solid #aaa !important;
    outline: none;
  }
}

.DropdownButton {
  &__Popper {
    padding: 10px 15px;
    align-items: center;
    display: flex;

    > span {
      margin-right: 10px;
    }
  }
}
