name: Build

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]
  workflow_dispatch:
    inputs:
      node_version:
        description: "Node.js version"
        default: "20"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  package:
    uses: ./.github/workflows/package.yml
    with:
      node_version: ${{ inputs.node_version }}
      run_format: true
