name: build-pr

on:
  pull_request:
    branches: [master, main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
          cache: 'yarn'
      - run: yarn install --network-timeout 1000000 --frozen-lockfile
      - run: yarn check
      - run: yarn format
      - run: yarn test-ci
      - run: yarn build
      - uses: EndBug/add-and-commit@v8
        with:
          message: 'CI / CD - Format Updates Automatic Commit  [skip ci]'
        continue-on-error: true
