name: build-pr

on:
  pull_request:
    branches: [master, main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org/
      - run: yarn install --network-timeout 1000000
      - run: yarn check
      - run: yarn format
      - run: yarn test-ci
      - run: yarn build
      - uses: EndBug/add-and-commit@v8
        with:
          message: 'CI / CD - Prettier Automatic Commit'
        continue-on-error: true
