on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  NODE_VERSION: 20

jobs:
  build_windows_x64:
    if: github.event_name == 'push'
    runs-on: windows-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"
      - run: bash scripts/build.sh true
      - run: npm run dist-win-x64
      - run: mv ./dist/sqlui-native*.exe ./dist/sqlui-native-x64.exe
      - name: Upload artifact .exe
        uses: actions/upload-artifact@v4
        with:
          name: sqlui-native-x64.exe
          path: ./dist/sqlui-native-x64.exe

  build_windows_arm64:
    if: github.event_name == 'push'
    runs-on: windows-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"
      - run: pip install setuptools
        name: Install setuptools for node-gyp
      - run: bash scripts/build.sh true
      - run: npm run dist-win-arm64
      - run: mv ./dist/sqlui-native*.exe ./dist/sqlui-native-arm64.exe
      - name: Upload artifact .exe
        uses: actions/upload-artifact@v4
        with:
          name: sqlui-native-arm64.exe
          path: ./dist/sqlui-native-arm64.exe

  build_macos_arm64:
    if: github.event_name == 'push'
    runs-on: macos-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"
      - run: bash scripts/build.sh true
      - run: npm run dist-macos-arm64
      - run: mv ./dist/sqlui-native*.dmg ./dist/sqlui-native-arm64.dmg
      - name: Upload artifact .dmg
        uses: actions/upload-artifact@v4
        with:
          name: sqlui-native-arm64.dmg
          path: ./dist/sqlui-native-arm64.dmg

  build_macos_x86_intel:
    if: github.event_name == 'push'
    runs-on: macos-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"
      - run: bash scripts/build.sh true
      - run: npm run dist-macos-x64
      - run: mv ./dist/sqlui-native*.dmg ./dist/sqlui-native-x64.dmg
      - name: Upload artifact .dmg
        uses: actions/upload-artifact@v4
        with:
          name: sqlui-native-x64.dmg
          path: ./dist/sqlui-native-x64.dmg

  build_linux:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - name: install missing dependencies
        run: sudo apt-get install -y libarchive-tools
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"
      - run: bash scripts/dist.sh true
      - run: |
          mv ./dist/sqlui-native*.deb ./dist/sqlui-native.deb
          mv ./dist/sqlui-native*.rpm ./dist/sqlui-native.rpm
          mv ./dist/sqlui-native*.snap ./dist/sqlui-native.snap
          mv ./dist/sqlui-native*.pacman ./dist/sqlui-native.pacman
      - name: Upload artifact .deb
        uses: actions/upload-artifact@v4
        with:
          name: sqlui-native.deb
          path: ./dist/sqlui-native.deb
      - name: Upload artifact .rpm
        uses: actions/upload-artifact@v4
        with:
          name: sqlui-native.rpm
          path: ./dist/sqlui-native.rpm
      - name: Upload artifact .snap
        uses: actions/upload-artifact@v4
        with:
          name: sqlui-native.snap
          path: ./dist/sqlui-native.snap
      - name: Upload artifact .pacman
        uses: actions/upload-artifact@v4
        with:
          name: sqlui-native.pacman
          path: ./dist/sqlui-native.pacman

  build_app_image_linux:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"
      - run: bash scripts/build.sh true
      - run: npm run dist-linux-appimage
      - run: mv ./dist/sqlui-native*.AppImage ./dist/sqlui-native.AppImage
      - name: Upload artifact .AppImage
        uses: actions/upload-artifact@v4
        with:
          name: sqlui-native.AppImage
          path: ./dist/sqlui-native.AppImage

  after_dist:
    # https://github.com/synle/gha-workflows/blob/main/.github/workflows/build-and-commit-sh.yml
    needs: [build_windows_x64, build_windows_arm64, build_macos_arm64, build_macos_x86_intel, build_linux, build_app_image_linux]
    if: always() && github.event_name == 'pull_request'
    uses: synle/gha-workflows/.github/workflows/build-and-commit-sh.yml@main
    permissions:
      contents: write
    with:
      node-version: 20 # NODE_VERSION: 20
