name: Main - Release

on:
  workflow_dispatch:
    inputs:
      message:
        description: "Release notes"
      node_version:
        description: "Node.js version"
        default: "20"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  package:
    uses: ./.github/workflows/package.yml
    with:
      node_version: ${{ inputs.node_version }}
      release_mode: "production"
      run_format: false
    secrets:
      TOKEN: ${{ secrets.GITHUB_TOKEN }}
