name: Test (Unit / Integration Tests)

on:
  workflow_dispatch:
    inputs:
      node_version:
        description: "Node.js version"
        default: "20"

jobs:
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node_version }}
          cache: "npm"

      - run: bash scripts/test.sh

  integration_test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    services:
      # Relational Databases
      mysql:
        image: mysql
        env:
          MYSQL_ROOT_PASSWORD: password123!
        ports:
          - 3306:3306
      mariadb:
        image: mariadb:latest
        env:
          MARIADB_ROOT_PASSWORD: password123!
        ports:
          - 33061:3306
      mssql:
        image: mcr.microsoft.com/mssql/server:2022-latest
        env:
          ACCEPT_EULA: "Y"
          MSSQL_SA_PASSWORD: "password123!"
        ports:
          - 1433:1433
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: password123!
        ports:
          - 5432:5432

      # NoSQL & Caching
      cassandra_v4:
        image: cassandra:4.0.1
        ports:
          - 9042:9042
      cassandra_v2:
        image: cassandra:2.2.19
        ports:
          - 9043:9042
      mongodb:
        image: mongo
        ports:
          - 27017:27017
      redis:
        image: redis
        ports:
          - 6379:6379
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node_version }}
          cache: "npm"

      - run: |
          node scripts/prebuild.js
          npm ci || npm install
          node scripts/postbuild.js

      # wait for databases to be ready
      - name: Wait for databases to be ready
        run: |
          echo "Waiting for databases to initialize..."
          sleep 5m  # sleep for n mins

      - name: Run integration tests
        run: npm run test-integration
