name: Package

on:
  workflow_call:
    inputs:
      node_version:
        type: string
        default: "20"
        description: "Node.js version"
      release_upload_url:
        type: string
        default: ""
        description: "Release URL"
      dist_version:
        type: string
        default: ""
        description: "Release Version (will be pulled from package.json)"
      run_format:
        type: boolean
        default: false
        description: "Whether or not to run format and commit code"
    secrets:
      TOKEN:
        required: false

jobs:
  prebuild:
    runs-on: ubuntu-latest
    name: Build, Smoke Test and Code Format
    steps:
      - run: |
          echo "node_version: ${{ inputs.node_version }}"

      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node_version }}
          cache: "npm"

      - run: bash scripts/test.sh

      - if: ${{ inputs.run_format }}
        run: |
          npm run format

      - name: Commit Changes
        if: ${{ inputs.run_format }}
        id: commit
        uses: EndBug/add-and-commit@v9
        with:
          message: "CI / CD - Format code"
          default_author: github_actions

  dist_windows_x64:
    needs: [prebuild]
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node_version }}
          cache: "npm"

      - run: bash scripts/build.sh

      - run: npm run dist-win-x64
        name: sqlui-native npm run dist-win-x64

      - run: mv "./dist/sqlui-native Setup*.exe" ./dist/sqlui-native-x64.exe

      - uses: actions/upload-artifact@v4
        with:
          name: Windows 10 - 11 (Intel - AMD x64).exe.zip
          path: ./dist/sqlui-native-x64.exe
          compression-level: 9

      - if: ${{ inputs.release_upload_url != '' }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ inputs.release_upload_url }}
          asset_path: ./dist/sqlui-native-x64.exe
          asset_name: sqlui-native-${{ inputs.dist_version }}-x64.exe
          asset_content_type: application/octet-stream

      - run: npm run dist-win32-appx
        name: sqlui-native npm run dist-win32-appx

      - run: mv ./dist/sqlui-native*.appx ./dist/sqlui-native.appx

      - uses: actions/upload-artifact@v4
        with:
          name: Windows 10 - 11 (Intel - AMD x64).appx.zip
          path: ./dist/sqlui-native.appx
          compression-level: 9

      - if: ${{ inputs.release_upload_url != '' }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ inputs.release_upload_url }}
          asset_path: ./dist/sqlui-native.appx
          asset_name: sqlui-native-${{ inputs.dist_version }}.appx
          asset_content_type: application/octet-stream

  dist_windows_arm64:
    needs: [prebuild]
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node_version }}
          cache: "npm"

      - run: pip install setuptools
        name: Install setuptools for node-gyp

      - run: bash scripts/build.sh

      - run: npm run dist-win-arm64
        name: sqlui-native npm run dist-win-arm64

      - run: mv "./dist/sqlui-native Setup*.exe" ./dist/sqlui-native-arm64.exe

      - uses: actions/upload-artifact@v4
        with:
          name: Windows 10 - 11 (ARM architecture).exe.zip
          path: ./dist/sqlui-native-arm64.exe
          compression-level: 9

      - if: ${{ inputs.release_upload_url != '' }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ inputs.release_upload_url }}
          asset_path: ./dist/sqlui-native-arm64.exe
          asset_name: sqlui-native-${{ inputs.dist_version }}-arm64.exe
          asset_content_type: application/octet-stream

  dist_macos_arm64:
    needs: [prebuild]
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node_version }}
          cache: "npm"

      - run: bash scripts/build.sh

      - run: npm run dist-macos-arm64
        name: sqlui-native npm run dist-macos-arm64

      - run: mv ./dist/sqlui-native*.dmg ./dist/sqlui-native-arm64.dmg

      - uses: actions/upload-artifact@v4
        with:
          name: macOS - OSX (Apple Silicon M-Series).dmg.zip
          path: ./dist/sqlui-native-arm64.dmg
          compression-level: 9

      - if: ${{ inputs.release_upload_url != '' }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ inputs.release_upload_url }}
          asset_path: ./dist/sqlui-native-arm64.dmg
          asset_name: sqlui-native-${{ inputs.dist_version }}-arm64.dmg
          asset_content_type: application/octet-stream

  dist_macos_x86_intel:
    needs: [prebuild]
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node_version }}
          cache: "npm"

      - run: bash scripts/build.sh

      - run: npm run dist-macos-x64
        name: sqlui-native npm run dist-macos-x64

      - run: mv ./dist/sqlui-native*.dmg ./dist/sqlui-native-x64.dmg

      - uses: actions/upload-artifact@v4
        with:
          name: macOS - OSX (Intel x64).dmg.zip
          path: ./dist/sqlui-native-x64.dmg
          compression-level: 9

      - if: ${{ inputs.release_upload_url != '' }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ inputs.release_upload_url }}
          asset_path: ./dist/sqlui-native-x64.dmg
          asset_name: sqlui-native-${{ inputs.dist_version }}-x64.dmg
          asset_content_type: application/octet-stream

  dist_linux:
    needs: [prebuild]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node_version }}
          cache: "npm"

      - run: bash scripts/build.sh

      - run: |
          npm run dist

      - run: |
          npm run dist-linux-appimage

      - run: |
          mv ./dist/sqlui-native*.deb ./dist/sqlui-native.deb
          mv ./dist/sqlui-native*.rpm ./dist/sqlui-native.rpm
          mv ./dist/sqlui-native*.snap ./dist/sqlui-native.snap
          mv ./dist/sqlui-native*.pacman ./dist/sqlui-native.pacman
          mv ./dist/sqlui-native*.AppImage ./dist/sqlui-native.AppImage

      - uses: actions/upload-artifact@v4
        with:
          name: Linux - Debian Ubuntu.deb.zip
          path: ./dist/sqlui-native.deb
          compression-level: 9

      - if: ${{ inputs.release_upload_url != '' }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ inputs.release_upload_url }}
          asset_path: ./dist/sqlui-native.deb
          asset_name: sqlui-native-${{ inputs.dist_version }}.deb
          asset_content_type: application/octet-stream

      - uses: actions/upload-artifact@v4
        with:
          name: Linux - Redhat CentOS Fedora.rpm.zip
          path: ./dist/sqlui-native.rpm
          compression-level: 9

      - if: ${{ inputs.release_upload_url != '' }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ inputs.release_upload_url }}
          asset_path: ./dist/sqlui-native.rpm
          asset_name: sqlui-native-${{ inputs.dist_version }}.rpm
          asset_content_type: application/octet-stream

      - uses: actions/upload-artifact@v4
        with:
          name: Linux - Ubuntu.snap.zip
          path: ./dist/sqlui-native.snap
          compression-level: 9

      - if: ${{ inputs.release_upload_url != '' }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ inputs.release_upload_url }}
          asset_path: ./dist/sqlui-native.snap
          asset_name: sqlui-native-${{ inputs.dist_version }}.snap
          asset_content_type: application/octet-stream

      - uses: actions/upload-artifact@v4
        with:
          name: Linux - Arch.pacman.zip
          path: ./dist/sqlui-native.pacman
          compression-level: 9

      - if: ${{ inputs.release_upload_url != '' }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ inputs.release_upload_url }}
          asset_path: ./dist/sqlui-native.pacman
          asset_name: sqlui-native-${{ inputs.dist_version }}.pacman
          asset_content_type: application/octet-stream

      - uses: actions/upload-artifact@v4
        with:
          name: Linux.AppImage.zip
          path: ./dist/sqlui-native.AppImage
          compression-level: 9

      - if: ${{ inputs.release_upload_url != '' }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ inputs.release_upload_url }}
          asset_path: ./dist/sqlui-native.AppImage
          asset_name: sqlui-native-${{ inputs.dist_version }}.AppImage
          asset_content_type: application/octet-stream
