name: Main - PR

on:
  pull_request:
    branches: [master, main]
  workflow_dispatch:
    inputs:
      node_version:
        description: "Node.js version"
        default: "20"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  package:
    uses: ./.github/workflows/package.yml
    with:
      node_version: ${{ inputs.node_version }}
      release_mode: "no_release"
      run_format: true
    secrets:
      TOKEN: ${{ secrets.GITHUB_TOKEN }}
